.key {
  font-size: 30px;
  list-style: none;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  width: 20px;
}


.pressed {
  font-weight: bold;
  background-color: lightgrey;
}

.piano {
  display: flex;
  justify-content: center;
}
